
build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/.qmake.stash

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/main.o

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/mainwindow.o

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/Makefile

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_mainwindow.cpp

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_mainwindow.o

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/test_1.app/Contents/MacOS/test_1

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/test_1.app/Contents/Info.plist

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/test_1.app/Contents/PkgInfo

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/test_1.app/Contents/Resources/empty.lproj

build-test_1-Desktop_Qt_5_7_1_clang_64bit-Debug/ui_mainwindow.h

build-pdlib-Desktop_Qt_5_7_1_clang_64bit-Debug/.qmake.stash

*.o

build-pdlib-Desktop_Qt_5_7_1_clang_64bit-Debug/Makefile
