build-qtpd_main-Desktop_Qt_5_7_1_clang_64bit-Debug/Makefile build-qtpd_main-Desktop_Qt_5_7_1_clang_64bit-Debug/qtpd_gui build-qtpd_main-Desktop_Qt_5_7_1_clang_64bit-Debug/qtpd_lib

build-*/*

qtpd_main.pro.user

qtpd_main.pro.user

qtpd_lib/qtpd_lib.pro.user

qtpd_lib/CicmWrapper/
